<h1>Examination kinds</h1>
<div id="newRecordLink">
<%= link_to 'New examination kind', new_examination_kind_path %>
</div>
<table class="dictionaryTable">
  <thead>
  <tr>
    <td>Name</td>
    <td colspan="3">Actions</td>
  </tr>
  </thead>
  <tbody>
<% for examination_kind in @examination_kinds %>
  <tr>
    <td><%= examination_kind.name %></td>
    <td><%= link_to 'Show', examination_kind %></td>
    <td><%= link_to 'Edit', edit_examination_kind_path(examination_kind) %></td>
    <td><%= link_to 'Destroy', examination_kind, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>


