<div id="doctor_select">


      <%= collection_select(:doctor, :id, doctors, :id, :name, options = {:prompt => "== Choose doctor == "},
      {:onChange => remote_function( :url => {:action => "doctor_changed"}, :with => "'doctor_id='+this.value")}) %>

   <% if speciality  %>

      No of doctors with speciality <%= speciality.name %> equals <%= doctors.count %>

   <% end %>

   <% if place  %>

      No of doctors in <%= place.name %> equals <%= doctors.count %>

   <% end %>

</div>
