<h1>New visit reservation </h1>

<% form_for(@visit_reservation) do |f| %>

  <%= f.error_messages %>


  <%= select_tag(:since_minutes, options_for_select(@hours)) %> 

  <%= f.hidden_field :since %>
  <%= f.hidden_field :doctor_id %>
  <%= f.hidden_field :patient_id %>

  <p>
    <%= f.submit "Make reservation" %>
  </p>


<% end %>


</div>



