<h1><%= t(:new_visit_reservation) %> </h1>

<% form_for(@visit_reservation) do |f| %>

  <%= f.error_messages %>

  <%= select_tag(:since_minutes, options_for_select(@hours)) %> 

  <%= f.hidden_field :since %>
  <%= f.hidden_field :doctor_id %>
  <%= f.hidden_field :patient_id %>

  <%= hidden_field_tag "until_minute", params[:until_minute] %>
  <%= hidden_field_tag "since_minute", params[:since_minute] %>


  <p>
    <%= f.submit t(:make_reservation) %>
  </p>


<% end %>



