<h1>Specialities</h1>
<div id="newRecordLink">
<%= link_to 'New speciality', new_speciality_path %>
</div>

<table class="dictionaryTable">
  <thead>
  <tr>
    <td> Name </td>
    <td colspan="3">Actions</td>
  </tr>
  </thead>
  <tbody>
<% for speciality in @specialities %>
  <tr>
    <td><%= speciality.name %></td>
    <td><%= link_to 'Show', speciality %></td>
    <td><%= link_to 'Edit', edit_speciality_path(speciality) %></td>
    <td><%= link_to 'Destroy', speciality, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>
