<h1>Worktimes index</h1>

<%= link_to 'New worktime', new_user_worktime_path(@user), :method => :get %>

<table id="worktimesTable">

<thead>
  <td id="tdWorktimes" colspan="2">Period</td>

  <td id="tdWorktimes" colspan="2">Hours</td>

  <td id="tdWorktimes">Day of week</td>
  <td id="tdWorktimes">Repetition</td>
  <td id="tdWorktimes">Place</td>
  <td id="tdWorktimes">Who</td>
  <td id="tdWorktimes">Action</td>

</thead>


<% for worktime in @worktimes %>

  <tr>

    <td><%= worktime.start_date %></td>
    <td><%= worktime.end_date %></td>

    <td><%= worktime.formate_since %></td>
    <td><%= worktime.formate_until %></td>

    <td><%= worktime.day_of_week %></td>
    <td><%= worktime.repetition %></td>
    <td><%= worktime.place.name %></td>
    <td><%= worktime.doctor.login %></td>
    <td><%= link_to 'Destroy', worktime	, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>




