
<% form_for(place) do |f| %>
  <%= f.error_messages %>

  <%= f.label :name, t(:name) %>:
  <%= f.text_field :name %><br />

  <%= f.label :address, t(:address) %>:
  <%= f.text_field :address %><br />

  <p>
    <%= f.submit button %>
  </p>
<% end %>

