<div id="visit">
<% form_for(visit) do |f| %>
  <%= f.error_messages %>

<div id="visit_reservation_select">  
  <%= f.label :visit_reservation, 'Reservation' %>:
  <%= collection_select(:visit, :visit_reservation_id, visit_reservations, :id, :short_info, 
      options = {:prompt => "== Choose reservation == "}, 
  { :onChange => remote_function( :url => {:action => "visit_reservation_changed"}, :with => "'visit_reservation_id='+this.value")} ) 
  %>
</div>

<%= render :partial => "patient_select", :locals => {} %>
<%= render :partial => "visit_time_select", :locals => {:visit_since => Time.now, :visit_until => Time.now + 15.minutes} %>

<br />
  <%= f.label :note, 'Note' %>
  <%= f.text_area :note %><br />
  <%= f.hidden_field :doctor_id %>
  <p>
    <%= f.submit button %>
  </p>
<% end %>
</div>

