<h1><%= t(:visit_details)%> </h1>

<div class="dictionaryDiv">

 <%= t(:doctor) + " " +@visit.doctor.name %> <br />
 <%= t(:patient) + " " +@visit.patient.name %> <br />
 <%= t(:time_label) %> <%=  @visit.since.strftime(ApplicationHelper::DATETIME_FORMAT) if @visit.since %><%= " - " + @visit.until.strftime(ApplicationHelper::TIME_FORMAT)  if @visit.until  %> <br />
 <%= t(:note) + " " + @visit.note %> <br />

</div>
