<h1>Visit details </h1>

<div class="dictionaryDiv">

Doctor: <%= @visit.doctor.name %> <br />
Patient: <%= @visit.patient.name %> <br />
Time: <%= @visit.since.strftime(ApplicationHelper::DATETIME_FORMAT) if @visit.since %><%= " - " + @visit.until.strftime(ApplicationHelper::TIME_FORMAT)  if @visit.until  %> <br />
Note: <%= @visit.note %> <br />

</div>
